<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiwi.fluttercrashlytics">

    <application>
        <activity android:name=".CrashActivity"></activity>

        <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="false" />
    </application>

</manifest>
